.container {
    max-width: 500px; /* increased max-width to 500px */
    margin: 40px auto;
    padding: 30px; /* increased padding to 30px */
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 15px; /* increased margin-bottom to 15px */
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 15px; /* increased padding to 15px */
    margin-bottom: 25px; /* increased margin-bottom to 25px */
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 15px 30px; /* increased padding to 15px 30px */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

#create-account {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#create-account:hover {
    background-color: #3e8e41;
}

#first-time {
    font-size: 14px;
    color: #666;
    margin-top: 20px;
}